<%- partial('header.ejs') %>
<div class="container content">
  <div class="row">
    <div class="banner center well">
      <img src="/img/cloud_world.png"/>
      <h1><%= __('Your bridge to the cloud')%></h1>
      <h1><%= __('Coming soon!')%></h1>
      <h2><a href="mailto:info@arcus.io"><%= __('more info...')%></a></h2>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
  });
</script>
<%- partial('footer.ejs') %>
